@model List<ResultMessageByIsReadFalseDto>

<li class="dropdown dropdown-list-toggle">
    <a href="#" data-toggle="dropdown"
       class="nav-link nav-link-lg message-toggle">
        <i data-feather="mail"></i>
        <span class="badge headerBadge1">@Model.Count</span>
    </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
        <div class="dropdown-header">
            Mesajlar
            <div class="float-right">
                <a href="#">Tümünü Okundu Olarak İşaretle</a>
            </div>
        </div>
        <div class="dropdown-list-content dropdown-list-message">
            @foreach (var item in Model)
            {
                <a href="#" class="dropdown-item">
                    <span class="dropdown-item-avatar
                   text-white">
                        <img alt="image" src="@item.ImageUrl" class="rounded-circle">
                    </span> <span class="dropdown-item-desc">
                        <span class="message-user">@item.NameSurname</span>
                        <span class="time messege-text">@item.Subject</span>
                        <span class="time">@item.SendDate.ToString("dd/MM/yyyy HH:mm")</span>
                    </span>
                </a>
            }
        </div>
        <div class="dropdown-footer text-center">
            <a href="/Message/MessageList/">Hepsini Gör <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</li>