@model List<ResultAboutDto>

@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Hakkımızda Listesi</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Reservasyon Numarası</th>
                                    <th scope="col">Görsel URL</th>
                                    <th scope="col">Video Kapak Görseli</th>
                                    <th scope="col">Video URL</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.ReservationNumber</td>
                                        <td>@item.ImageUrl</td>
                                        <td>@item.VideoImageUrl</td>
                                        <td>@item.VideoCoverImageUrl</td>
                                        <td>@item.Description</td>
                                        <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-outline-danger btn-rounded">Sil</a></td>
                                        <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-outline-success btn-rounded">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end mt-4 none-border">
                            @if (Model.Count == 1)
                            {
                                <a href="#" class="btn btn-outline-primary btn-rounded mr-2" onclick="return false;">Hakkımızda Bilgisi Mevcut</a>
                            }
                            else
                            {
                                <a href="/About/CreateAbout/" class="btn btn-outline-primary btn-rounded mr-2">Yeni Hakkımızda Bilgisi Girişi</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
