@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategori Listesi</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Alt Başlık</th>
                                    <th scope="col">Video URL</th>
                                    <th scope="col">Görsel URL</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Title</td>
                                        <td>@item.Subtitle</td>
                                        <td>@item.VideoUrl</td>
                                        <td>@item.ImageUrl</td>
                                        <td>@item.Description</td>
                                        <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-outline-danger btn-rounded">Sil</a></td>
                                        <td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-outline-success btn-rounded">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end mt-4 none-border">
                            @if (Model.Count == 1)
                            {
                                <a href="#" class="btn btn-outline-primary btn-rounded mr-2" onclick="return false;">Öne Çıkan Mevcut</a>
                            }
                            else
                            {
                                <a href="/Feature/CreateFeature/" class="btn btn-outline-primary btn-rounded mr-2">Yeni Öne Çıkan Girişi</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>